{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Kaloliya Gaurav</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="author" name="Kaloliya Gaurav" href="iamgaurav225@gmail.com">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>
    <!--===============================================================================================-->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap'>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <!--===============================================================================================-->
    <script src="https://kit.fontawesome.com/2b55808cf0.js" crossorigin="anonymous"></script>
    <!--===============================================================================================-->
</head>
<body>
    
    {% block body %}
    {% endblock %}

</body>
</html>