@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat-Medium;
    user-select: none;
    user-zoom: none;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #2695f9;
    height: 50px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #2695f9;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Poppins-Regular, sans-serif;
    box-sizing: border-box;
    background: #fff;
}

button {
    border: 0;
    outline: 0;
}

input {
    outline: none;
    border: none;
}

a {
    font-size: 16px;
    font-weight: 0 !important;
    color: #555555;
    cursor: pointer;
    text-decoration: none;
}

/* #2695f9 , #2695f9 */

.navbar {
    top: 0;
    margin: 0;
    padding: 20px 80px;
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    background: #fff;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
}

.navbar-text {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 24px;
    color: #2695f9;
}

.navbar-link {
    margin: 0px 5px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}

#contactmebtn {
    color: #fff !important;
    background: #2695f9;
}

.navbar-link:hover {
    color: #2695f9;
    background: #efefef;
}

#navbar-menubtn {
    display: none;
}

.navbar-sidebar {
    display: none;
}

.mainarea {
    margin: 0;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    height: 100vh;
    background: #fff;
}

.mainpage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info-section {
    margin: 0;
    padding: 0px calc(100% - 95%);
    width: 50%;
    height: 400px;
    display: grid;
    text-align: left;
    align-content: center;
}

.static-txt {
    margin: 10px 20px;
    padding: 0;
    font-size: 40px;
    color: #555555;
}

.dynamic-txt {
    margin: 10px 20px;
    padding: 0;
    font-size: 40px;
    font-weight: 500;
    color: #2695f9;
}

.static2-txt {
    margin: 10px 20px;
    padding: 0;
    font-size: 20px;
    color: lightslategrey;
}

.photo-section {
    margin: 0;
    padding: 0;
    width: 40%;
    height: 525px;
    display: grid;
    border-radius: 10px;
    background: #e8bfb0;
    align-content: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.photo-section img {
    width: 100%;
    height: 525px;
    object-fit: cover;
}

.aboutmearea {
    margin: 0;
    padding: 50px 80px;
    width: 100%;
    height: 100vh;
    background: #fff;
}

.aboutmepage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.aboutme-image {
    margin: 0;
    padding: 0;
    width: 45%;
    display: grid;
    border-radius: 20px;
    background: lightgrey;
    align-content: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.aboutme-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.aboutme-text {
    margin: 0;
    padding: 20px;
    width: 45%;
}

.aboutme-text p {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 25px;
    color: #555555;
    text-align: justify;
}

.aboutme-text p strong {
    font-family: 'Pacifico', cursive;
    font-weight: 900;
}

.flexarea {
    margin: 0;
    padding: 50px 80px;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexpage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.educationpage, .internshippage {
    margin: 0;
    padding: 0;
    width: 50%;
    height: fit-content;
}

.text1 {
    margin: 5px 0px;
    padding: 0;
    font-size: 22px;
    color: #555555;
}

.text2 {
    margin: 5px 0px;
    padding: 0;
    font-size: 22px;
    color: #2695f9;
}

.page-header {
    margin: 0px 80px 30px 0px;
    padding: 0;
    font-size: 50px;
    font-weight: 900;
    color: #3e64ff;
    text-align: left;
}

.education-box, .internship-box {
    margin: 10px 0px;
    padding: 30px;
    width: fit-content;
    height: fit-content;
}

.time {
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 700;
    color: #3e64ff;
}

.place {
    margin: 10px 0px;
    font-size: 20px;
    color: #555555;
}

.education-box:hover, .internship-box:hover, .project-box:hover {
    background: #efefef;
}

.skillsarea {
    margin: 0;
    padding: 50px 80px;
    width: 100%;
    height: 100%;
    background: #fff;
}

.skillspage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.skillspage-gridarea {
    margin: 0px 20px;
    padding: 0;
    width: 50%;
    height: fit-content;
    display: grid;
}

.title {
    margin: 20px 0px;
    font-size: 25px;
    color: #555555;
}

.skills {
  width: 100%;
  padding: 0 20px;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  color: #555555;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar {
  height: 15px;
  background: grey;
  border-radius: 10px;
}

.skill-per {
  height: 15px;
  color: #fff;
  background: #2695f9;
  border-radius: 10px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 10px;
  background: red;
  border-radius: 5px;
  font-size: 14px;
  top: -50px;
  right: 8px;
  transform: translateX(50%);
  z-index: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.skill-per::after{
  content: "";
  position: absolute;
  width: 28px;
  height: 20px;
  background: red;
  top: -30px;
  right: 10px;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@keyframes fillBars{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}

.projectarea {
    margin: 0;
    padding: 50px 80px;
    width: 100%;
    height: 100%;
    background: #fff;
}

.projectpage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.project-box {
    margin: 10px;
    padding: 0;
    width: calc(33% - 20px);
    height: 352px;
    border: 2px solid #efefef;
}

.project-box img {
    width: 100%;
    max-height: 295px;
    height: auto;
    object-fit: contain;
}

.project-box h2 {
    margin: 10px;
    height: 50px;
    line-height: 1.2;
}

.footer {
    margin: 0;
    padding: 30px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    background: #f1f1f1;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.contact {
    margin-top: 1.3em;
    font-size: 16px;
    font-weight: 400;
}

.address {
    font-style: normal;
    font-size: 14px;
    color: #999;
}

.footer-btn {
    margin: 10px;
    padding: 10px 20px;
    width: fit-content;
    height: auto;
    border-radius: 10px;
    color: #fff;
    background: #2695f9;
}

.footer-gridarea {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.footer-flexarea {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.social-icons i {
    margin: 0;
    padding: 14px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 22px;
    text-align: center;
}

.social-icons .twitterbtn {
    color: #2695f9;
}

.social-icons .codepenbtn {
    color: #000;
}

.social-icons .dribbblebtn {
    color: deeppink;
}

.social-icons .githubbtn {
    color: #000;
}

.social-icons i:hover {
    background: #fff;
}

.legal p {
    font-size: 18px;
    color: #555555;
}

.contactmearea {
    margin: 0;
    margin-top: 80px;
    padding: 80px 0px;
    width: 100%;
    height: 100%;
    display: grid;
    background: #2695f9;
    align-items: center;
    justify-content: center;
}

.contactmepage {
    margin: 0;
    padding: 20px;
    width: 350px;
    height: fit-content;
    border-radius: 10px;
    background: #fff;
}

.contactmepage-header {
    margin: 20px 0px;
    padding: 0;
    width: 100%;
    font-family: Montserrat-Medium;
    font-size: 28px;
    color: #555555;
    text-align: center;
}

.text {
    margin: 0;
    padding: 0;
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    color: #555555;
}

.contactme-inputbox {
    margin: 10px 0px;
    width: 100%;
    height: 50px;
    position: relative;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

.contactme-input {
    margin: 0;
    padding: 0 20px;
    width: 100%;
    height: 48px;
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #333333;
    border-radius: 10px;
    background: transparent;
}

.contactme-email-check {
    margin: 5px 0px;
    font-size: 18px;
    color: red;
}

.contactme-textbox {
    margin: 0;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    height: 200px;
    font-size: 18px;
    font-family: Poppins-Regular;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    outline: none;
    background: transparent;
    overflow: scroll;
    resize: none;
    word-break: break-all;
}

.container-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background: #2695f9;
    border-radius: 10px;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.form-btn:disabled {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background: #555555;
    border-radius: 10px;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.form-btn:hover {
    opacity: 1;
}

.contactme-error-message {
    color: red;
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 1050px) {
.navbar {
    top: 0;
    margin: 0;
    padding: 10px 20px;
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    background: #fff;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
}

.navbar-text {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 24px;
    color: #2695f9;
}

.navbar-link {
    display: none;
}

#navbar-menubtn {
    margin: 0;
    padding: 14px;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 100%;
    font-size: 22px;
    color: #555555;
    text-align: center;
}

#navbar-menubtn:hover {
    background: #efefef;
}

.navbar-sidebar {
    display: none;
}

.navbar-sidebar.active {
    margin: 0;
    margin-top: 70px;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    position: fixed;
    background: #fff;
    z-index: 2;
    align-items: start;
}

.navbar-sidebar-menuoptions {
    margin: 0;
    padding: 20px;
    background: #fff;
}

.navbar-sidebar-menuoptions a {
    margin: 5px 0px;
    padding: 5px 10px;
    width: 100%;
    height: 60px;
    display: flex;
    border: 1px solid #efefef;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.mainarea {
    margin: 0;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    background: #2695f9;
}

.mainpage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.info-section {
    margin: 0;
    padding: 0px calc(100% - 95%);
    width: 100%;
    height: 300px;
    display: grid;
    text-align: center;
    align-content: center;
}

.static-txt, .static2-txt {
    color: #fff;
}

.dynamic-txt {
    color: #fff;
}

.photo-section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    display: grid;
    border-radius: 20px;
    background: #e8bfb0;
    align-content: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.photo-section img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.aboutmearea {
    margin: 0;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.aboutmepage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: start;
    justify-content: center;
}

.aboutme-image {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    border-radius: 20px;
    background: lightgrey;
    align-content: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.aboutme-text {
    margin: 0;
    padding: 30px 10px;
    width: 100%;
}

.aboutme-text p {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 24px;
    color: #555555;
    text-align: justify;
}

.flexarea {
    margin: 0;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    background: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
}

.flexpage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.educationpage, .internshippage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
}

.page-header {
    margin: 0px 0px 20px 0px;
    padding: 0;
    font-size: 40px;
    font-weight: 900;
    color: #3e64ff;
    text-align: left;
}

.education-box, .internship-box {
    margin: 10px 0px;
    padding: 30px;
    width: 100%;
    height: fit-content;
}

.skillsarea {
    margin: 0;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    background: #fff;
}

.skillspage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.skillspage-gridarea {
    margin: 0;
    padding: 20px;
    width: 100%;
    height: fit-content;
    display: grid;
}

.title {
    margin: 20px 0px;
    font-size: 30px;
    color: #555555;
    text-align: center;
}

.projectarea {
    margin: 0;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    background: #fff;
}

.projectpage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.project-box {
    margin: 10px 0px;
    padding: 0;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.project-box img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: contain;
}

.contactmearea {
    margin: 0;
    padding-top: 160px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px;
    width: 100%;
    height: 100%;
    display: grid;
    background: #2695f9;
    align-items: center;
    justify-content: center;
}

.contactmepage {
    margin: 0;
    padding: 20px;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    background: #fff;
}
}
