{% extends "layout.html" %}
{% load static %}


{% block body %}
    <div class="navbararea">
        <div class="navbar">
            <p class="navbar-text">Kaloliya Gaurav</p>
            <div class="navbar-links">
                <a href="{% url 'kaloliyagaurav:index' %}" class="navbar-link">Home</a>
                <a href="{% url 'kaloliyagaurav:contact' %}" class="navbar-link" id="contactmebtn">Contact Me</a>
            </div>
            <i class="fas fa-ellipsis-h" id="navbar-menubtn"></i>
        </div>
        <div class="navbar-sidebar" id="navbar-sidebar">
            <div class="navbar-sidebar-menuoptions">
                <a href="{% url 'kaloliyagaurav:index' %}" class="navbar-link">Home</a>
                <a href="{% url 'kaloliyagaurav:contact' %}" class="navbar-link" id="contactmebtn">Contact Me</a>
            </div>
        </div>
    </div>
    <div class="contactmearea">
        <form action="{% url 'kaloliyagaurav:contact' %}" id="contactme-form" method="post" autocomplete="on">
            {% csrf_token %}
            <div class="contactmepage">
                <p class="contactmepage-header">Contact Me</p>
                <p class="contactme-error-message"></p>
                <span class="text">Full Name</span>
                <div class="contactme-inputbox">
                    <input type="text" id="contactme-fullname-input" name="contactme-fullname-input" class="contactme-input" spellcheck="false">
                </div>
                <span class="text">Email Address</span>
                <div class="contactme-inputbox">
                    <input type="text" id="contactme-email-input" name="contactme-email-input" class="contactme-input" spellcheck="false">
                </div>
                <p class="contactme-email-check"></p>
                <span class="text">Phone Number</span>
                <div class="contactme-inputbox">
                    <input type="number" id="contactme-phone-number-input" name="contactme-phone-number-input" class="contactme-input">
                </div>
                <span class="text">Description</span>
                <textarea class="contactme-textbox" id="contactme-description-input" name="contactme-description-input"></textarea>
                <div class="container-form-btn">
                    <input class="form-btn" type="submit" id="send1" value="Contact">
                </div>
            </div>
        </form>
    </div>
    <div class="footer">
        <div class="footer-gridarea">
            <p class="footer-logo">Kaloliya Gaurav</p>
            <p class="contact">Contact</p>
            <div class="footer-flexarea">

                <p class="address">Rajivnagar, Porbandar, Gujarat</p>
                <a class="footer-btn" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=imagaurav225@email.com&subject=MISSED%20CALL%20EZTRADER">Email Me</a>
            </div>
        </div>
        <div class="footer-gridarea">
            <div class="social-icons">
                <a class="twitterbtn" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                <a class="codepenbtn" href="https://codepen.io/trending"><i class="fa fa-codepen"></i></a>
                <a class="dribbblebtn" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
                <a class="githubbtn" href="https://github.com/Gaurav-89"><i class="fa fa-github"></i></a>
            </div>
            <div class="legal">
                <p>&copy; 2022 Kaloliya Gaurav. All rights reserved.</p>
            </div>
        </div>
    </div>

<!-- script area -->
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<!-- script area end -->
{% endblock %}
